.field {
    -fx-background-color: transparent;
    -fx-border-color: limegreen;
    -fx-font-size: 15;
    -fx-border-width: 0 0 2px 0;
}

.radio-button .radio {
    -fx-border-color: limegreen;
    -fx-border-radius: 50%;
    -fx-border-width: 2px;
    -fx-padding: 3;
    -fx-cursor: hand;
}

.radio-button:selected .radio {
    -fx-border-color: dodgerblue;
}

.connexion-button{
    -fx-background-color: limegreen;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.connexion-button:hover{
    -fx-background-color: dodgerblue;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.hyperlink{
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}